.Navbar {
    height: 120px;
    width: 100vw;
    padding: 0 120px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    place-items: center;
}

@media only screen and (max-width : 800px) {
    .Navbar {
        padding: 0 20px;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(5, 1fr);
        height: auto;
    }

    .Navbar svg {
        order: -1;
    }
}

@media only screen and (max-width : 1300px) {
    .Navbar {
        padding: 0 50px;
    }
}