---
import Header from "../components/Header.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Daniel Vulić</title>
    <meta name="description" content="Personal portfolio website" />
    <link rel="manifest" href="/manifest.json" />
    <meta
      name="keywords"
      content="developer,web,game,frontend,backend,react,angular,daniel,vulic"
    />
    <meta name="theme-color" content="#000000" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta property="og:title" content="Daniel Vulić" />
    <meta property="og:description" content="Personal portfolio website" />
    <meta property="og:url" content="https://vooolox.xyz" />
    <meta property="og:site_name" content="Daniel Vulić" />
    <meta property="og:image" content="/og.png" />
    <meta property="og:email" content="contact@vooolox.xyz" />
    <meta property="og:type" content="website" />
    <link rel="icon" href="/favicon.svg" />
    <link rel="apple-touch-icon" href="/apple-touch-icon.png" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap"
      rel="stylesheet"
    />
    <script>
      import mixpanel from "mixpanel-browser";
      import FingerprintJS from "@fingerprintjs/fingerprintjs";

      const fp = await FingerprintJS.load();
      const { visitorId } = await fp.get();

      mixpanel.init("20add051a35a38f78ef76d9eff64cc00", {
        debug: true,
        track_pageview: true,
        persistence: "localStorage",
        ignore_dnt: true,
      });

      mixpanel.identify(visitorId);
      const response = await fetch("https://ipapi.co/json/");
      const data = await response.json();
      mixpanel.track("User info", { ...data, network_address: data.ip });
    </script>
  </head>
  <body>
    <div
      class="flex flex-col w-full h-screen min-h-[800px] overflow-x-hidden overflow-y-auto bg-cover bg-no-repeat bg-center bg-black bg-[url('/background-90.webp')] font-display"
    >
      <Header />
      <slot />
    </div>
  </body>
</html>
