.home
    display: flex
    flex-direction: var(--flex-direction)
    padding: 0 var(--horizontal-spacing)

.left
    display: flex
    align-items: center
    justify-content: center
    flex-direction: var(--flex-direction-on-phone)
    width: 100%
    height: calc(100vh - var(--navbar-height))

    div
        text-align: var(--center-text-on-phone)
        flex-direction: column
        margin: 1em
        h1, h2, h3
            display: block

    img
        object-fit: contain
        width: 50%
        height: 50%
        border-radius: 0.5em
        filter: drop-shadow(0px 10px 10px #000000b0)

.right
    display: flex
    align-items: center
    justify-content: center
    width: 100%
    height: calc(100vh - var(--navbar-height))

.form
    display: flex
    flex-direction: column
    width: 80%

    input, textarea
        margin: 5pt 2pt 15pt 2pt
        background: black
        border: none
        outline: none
        border: 1px solid white
        border-radius: 3px
        padding: 10pt

        &:focus
            filter: invert(100%)

        &[type=submit]
            cursor: pointer
            color: #000
            background: #fff
            box-shadow: 5px 5px 0px 0px #a4a7a4
            margin: 1em 1.5em
            padding: 1em
            font-weight: 700
            font-size: 1em
            border-radius: 0.25em
            transition: 0.5s
            &:hover
                margin: 1em
            &:focus
                filter: none
                box-shadow: 5px 5px 0px 0px #333
    textarea
        resize: vertical
        max-height: 10em
        min-height: 3.5em
